*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    height: 80px;
    background-color: rgb(147, 208, 205);
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.02rem;
}
.left{
    font-size: 1.8rem;
    color: white;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0 120px;
}
.firstSection > div{
    width: 40%;
}
.leftSection{
    font-size: 3rem;
}
.rightSection img{
    width: 60%;
    margin: 50px 0 50px 70px;
    align-items: center;
}
.purple{
    color: rgb(170, 107, 228);
}
#element{
    color: rgb(170, 107, 228);
}
#experience{
    max-width: 80vw;
    padding: 30px 90px 0;
}
.section_text_p1{
    text-align: center;
    padding: 0 0 0 85px;
}
.title{
    font-size: 1.6rem;
    padding: 0 0 20px 75px;
    text-align: center;
}
.hr1{
    border: 0;
    background: #8983ea;
    height: 1.3px;
    margin: 100px 72px 30px;
}
.arrow{
    position: absolute;
    display: block;
    left: 80rem;
    border-radius: 2rem;
    width: 2.4rem !important;
    bottom: 3.5rem;
}
.arrow i{
    font-size: 2.5rem;
}
.logo{
    padding: 55px 0 0 160px;
}
.about-container{
    padding: 5px 0 0 20px;
    display: flex;
    border-color: black;
    border-radius: 2rem;
    justify-content: center;
    border: rgb(53, 53, 53) 0.1rem solid;
    height: 30rem;
}
.experience-details{
    padding: 0 0 0 45px;
}
.experience-sub-title{
    padding: 0 95px;
    color: rgb(102, 96, 96);
}
.info{
    width: 30rem;
    padding: 20px 40px 0;
    height: 15rem;
}
.date{
    font-weight: bold;
}
.location{
    font-weight: bold;
    font-style: italic;
    color: rgb(128, 123, 123);
}
.container1 i, .container2 i{
    font-size: 1.3rem;
    padding: 0 5px 0 0;
}
.yap{
    padding: 10px 0;
}
.article-container{
    padding: 60px 0 0;
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30rem;
}
.container1, .container2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.container2 {
    margin-left: 0;
}

.container1 div{
    flex: 1 1 19%;
    text-align: center;
    padding: 0 3.5rem 0 0;
}

.container2 div{
    flex: 1 1 19%;
    text-align: center; 
    padding: 0 7.8rem 0 0;
}
.arrow2{
    position: relative;
    display: block;
    left: 74.4rem;
    border-radius: 2rem;
    width: 2.4rem !important;
    bottom: -3rem;
}
.arrow2 i{
    font-size: 2.5rem;
}
.hr2{
    border: 0;
    background: #8983ea;
    height: 1.3px;
    margin: 60px 72px 30px;
}